<html lang="en">
	<main id="main">
	  <h1>{{.title}}</h1>
	</main>
	<style>
	#main {
	  display: flex;
  	flex-direction: column;
		align-content:  center;
		align-items: center;
		justify-content: center;
		justify-items: center;
	}
	</style>
</html>
`